* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-background-color: #2B2B2B;
    --secondary-background-color: #3B3B3B;
    --primary-color: #A259FF;
    --secondary-text-color: #858584;
}


#navbar {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: var(--primary-background-color);
}

#main-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#main-title {
    font-size: 1.5rem;
    color: white;
    margin-left: 12px;

}

#nav-items {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-item {
    font-size: 1rem;
    padding: 0 20px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

#sign-btn {
    border-radius: 20px;
    padding: 20px 30px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sign-icon {
    width: 20px;
    margin-right: 12px;
}

#header-content {
    padding: 80px 120px;
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#discover-h1 {
    font-size: 67px;
    color: white;
}

#discover-p {
    font-size: 22px;
    color: white;
    margin-top: 20px;
    line-height: 1.6;
}

#discover-btn {
    margin: 30px 0;
    padding: 20px 50px;
    border-radius: 20px;
    color: white;
    border: none;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#discover-btn img {
    margin-right: 12px;
}

#sales-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
}

.sales-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 30px;
    color: white;
}

.sales-number {
    font-size: 28px;
    font-weight: bold;
}

#header-art {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#astronaut {
    width: 510px;
    height: 401px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#header-art-description {
    width: 100%;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    background-color: var(--secondary-background-color);
    color: white;
}

#header-art-description h2 {
    margin-bottom: 10px;
}

#header-art-description div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header-art-description div img {
    margin-right: 12px;
}

#trending {
    padding: 80px 200px;
    background-color: var(--primary-background-color);
    color: white;
}

#trending h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

#trending h2 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 60px;
}


#trending-art-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 30px;
}

.trending-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending-images {
    width: 100%;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    justify-content: center;
    gap: 15px;
}

.primary-image {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    justify-self: center;
    align-self: center;
}

.secondary-image {
    justify-self: center;
    align-self: center;
}

.trending-description {
    display: flex;
    flex-direction: column;
}

.trending-description-group {
    font-size: 22px;
    margin-bottom: 10px;
}

.trending-description-artist {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 12px;
}

.more {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 20px;
}

#top-creators {
    padding: 80px 200px;
    background-color: var(--primary-background-color);
}

#top-creators-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    margin-bottom: 60px;
}

#top-creators-header-text h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

#top-creators-header-text h3 {
    font-size: 22px;
    font-weight: 300;
}

#rankings-btn {
    padding: 20px 50px;
    border: 2px var(--primary-color) solid;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#rankings-btn img {
    margin-right: 12px;
}

#top-creators-profiles {
    display: grid;
    grid-template-rows: repeat(3, 240px);
    grid-template-columns: repeat(4, auto);
    gap: 30px;
}

.creator-profile {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--secondary-background-color);
    border-radius: 20px;
    color: white;
}

.profile-number {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: var(--primary-background-color);
}

.profile-image {
    margin-bottom: 20px;
}

.profile-author {
    font-size: 22px;
    margin-bottom: 5px;
}

.profile-sales {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-sales span {
    color: var(--secondary-text-color);
    margin-right: 10px;
}

#categories {
    padding: 80px 200px;
    background-color: var(--primary-background-color);
}

#categories h1 {
    color: white;
    font-size: 38px;
    margin-bottom: 60px;
}

#categories-cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto;
    gap: 30px;
}

.categories-card {
    border-radius: 20px;
    width: 240px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.categories-card div {
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 20px 25px 30px 30px;
    background-color: var(--secondary-background-color);
}

#discover {
    background-color: var(--primary-background-color);
    padding: 80px 200px;
    color: white;
}

#discover-header {
    margin-bottom: 60px;
    position: relative;
}

#discover h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

#discover h3 {
    font-size: 22px;
}

#discover button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px 50px;
    background-color: transparent;
    border: var(--primary-color) 2px solid;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#discover button img {
    margin-right: 12px;
}

#discoveries-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.discovery-card {
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discovery-description {
    padding: 20px 25px 30px 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--secondary-background-color);
    width: 100%;
}

.discovery-author {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.discovery-first-span {
    font-size: 22px;
    margin-bottom: 5px;
}

.discovery-second-span {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.discovery-second-span img {
    margin-right: 12px;
}

.discovery-sales {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discovery-price {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.first-span {
    font-size: 12px;
    color: var(--secondary-text-color);
    margin-bottom: 8px;
}

.discovery-highest-bid {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

#big-boy {
    width: 100%;
}

#how-it-works {
    padding: 80px 200px;
    background-color: var(--primary-background-color);
    color: white;
}

#how-it-works h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

#how-it-works h3 {
    font-size: 22px;
    margin-bottom: 48px;
}

#guide {
    display: grid;
    grid-template-columns: auto auto auto;
}

.guide-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 30px 30px;
}

#join {
    background-color: var(--primary-background-color);
    padding: 80px 200px;
    color: white;
}

#join-card {
    padding: 60px;
    background-color: var(--secondary-background-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#join-card img {
    margin-right: 60px;
}

#join-one {
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: 600;
}

#join-two {
    font-size: 22px;
    margin-bottom: 40px;
}

#join-one, #join-two {
    line-height: 1.2;
}

.white-bar {
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.purple-bar {
    height: 100%;
    background-color: var(--primary-color);
    padding: 16px 50px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
}

.purple-bar img {
    margin-right: 12px;
}

footer {
    padding: 40px 200px;
    background-color: var(--secondary-background-color);
}

#info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px #ccc solid;
    padding-bottom: 30px;
}

.first {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    font-size: 22px;
}

.first img {
    margin-right: 12px;
}

.secondary {
    margin-bottom: 20px;
    color: #ccc;
}

.icons img {
    margin-right: 10px
}

#bye {
    color: #ccc;
    margin-top: 20px;
    font-size: 12px;
}